.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    text-align: center;
    width: 50%;
    font-size: clamp(25px, 1.5vw,  48px);
    font-weight: 800;
}

@media (max-width: 768px){
    .container h1{
        width: 90%;
    }
}