.step {
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  min-width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #05966825;
}

.step h5 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.step p {
  width: 83%;
  text-align: center;
  margin-top: 10px;
  color: #666666;
  font-size: 13px !important;
  line-height: 18px;
}
