.header {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100000;
  background-color: var(--desktop);
  border-bottom: 1px solid var( --form-border);
}

