.accordion {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    
    margin-bottom: 8px;
}

.supportText{
    align-self: flex-end;
    font-size: clamp(12px, 1.5vw, 18px);
    line-height: clamp(16px, 1.5vw, 26px);
    font-weight: bolder;
}

.support{
    text-decoration: none;
    color: var(--green);
}

@media (max-width: 768px){
    .accordion{
        max-width: 100%;

    }
    .supportText{
        margin: 0 15px;
    }
}